* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  padding: 3.5rem;
  line-height: 1.7;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  background-color: hsl(30, 38%, 92%);
}

/* centering */
body,
html {
  height: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/***********************/
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  width: 40vw;
  /* margin: auto; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 1rem;
}

.img {
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem 0 0 1rem;
}

h2 {
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 21%, 14%);
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
}
p {
  color: hsl(228, 12%, 48%);
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.second-price {
  color: #224b3c;
  font-weight: 700;
  font-family: "fraunces";
  display: inline-block;
  font-size: 3rem;
  margin-right: 1.5rem;
  display: inline-block;
}
.first-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
}
.text {
  margin: 3rem;
}
.perfume {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.btn {
  text-align: center;
  display: block;
  /* width: 10rem; */
  /* height: 2rem; */
}
a {
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  display: block;
  padding: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.2s;
}
.ph-shopping-cart {
  display: inline-block;
  font-size: 2rem;
  /* text-align: center; */
}
a:active {
  background-color: #224b3c;
}
